.gridTable
{
	
	background-color: #ffffff;
}

.gridHeader
{
	font-family: Verdana, Tahoma, Arial, "Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #ffffff;
	height: 28px;
}

.gridRowEven
{
	color: #000000;
	background-color: #f4f4e7;
	font-family: Verdana, Tahoma, Arial, "Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 28px;
}

.gridRowOdd
{
	color: #000000;
	background-color:#e4e4d7 ;
	font-family: Verdana, Tahoma, Arial, "Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 28px;
}

.gridPageOfPage
{
	color: #ffffff;
	font-family: Verdana, Tahoma, Arial, "Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: bold
}

.gridPager
{
	background-color: #ffffff;
}

.gridSort
{
	color: Black;
	background-color: #ffffff;
	text-decoration: none
}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}